h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150vn;
  font-style: normal;
}

#inicio {
  font-family: verdana;
  font-optical-sizing: auto;
   color: white;
}

#p1 {
  font-family: verdana;
  font-optical-sizing: auto;
  color: black;
  background-color: white;
  font-weight: 30vn
}
