#Titulo {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  color: white;
}

#inicio {
  font-family: verdana;
  font-optical-sizing: auto;
   color: white;
}

#para1 {
  font-family: verdana;
  font-optical-sizing: auto;
  color: black;
  background-color: white;
  font-weight: 30px;
  font-style: bold;
}

.cajita { 
  margin: 2.5%;
  color: white;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
